<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>registration form</h1>
    <form action="/register" method="POST">
        <label for="username">username</label>
        <input type="text" name="username" id="">

        <label for="email">email</label>
        <input type="text" name="email" id="">

        <label for="password">password</label>
        <input type="text" name="password" id="">

        <label for="confirmPassword">confirm password</label>
        <input type="text" name="confirmPassword" id="">

        <button>create user</button>
    </form>

    <h3>Already have an account?</h3>
    <a href="login">Login</a>
    
</body>
</html>